.App {
	width: 100%;
	height: 100vh;
	background-image: url(https://picsum.photos/2300/1300);
	background-size: cover;
	background-position: center;
	/* background-color: #00388d; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container {
	width: 40%;
	height: 70vh;
	background-color: #f4f4f4;
	box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
}

h1 {
	color: #fff;
	background: transparent;
	background-color: #10ac0b;
	padding: 6px 0 2px 0;
	margin-bottom: 10px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
input {
	text-align: center;
	height: 30px;
	top: 10px;
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: 500;
	width: 60%;
	border-bottom: 2px solid #ddc7c7;
	outline: none;
}
button {
	min-height: 40px;
	width: 40px;
	font-size: 30px;
	border-radius: 50%;
	background-color: #10ac0b;
	color: #fff;
	font-style: 40px;
	border: none;
	outline: none;
	margin-left: 10px;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
	background-color: #00ff77;
}
ul {
	margin-top: 30px;
}
ul li {
	padding-left: 0;
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	min-height: 40px;
	display: flex;
	align-items: center;
	color: #3c5ecc;
	text-transform: capitalize;
}
.todo_style {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}
.todo_style .fa-times {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #10ac0b;
	border-radius: 50%;
	margin: 0 15px 0 35px;
	color: aliceblue;
	box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo_style .fa-times:hover {
	background-color: crimson;
}

@media (max-width: 768px) {
	.center_div {
		width: 55%;
	}
	.todo_style .fa-times {
		margin: 0 15px 0 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button {
		margin-left: 5px;
		min-height: 40px;
		width: 40px;
		color: #fff;
		font-size: 30px;
	}
}
